.section-welcome {
    background-color: #c5f6fa;
    height: 700px;
}


.explore-title {
    padding: 48px 0px;
    text-align: center;
    font-size: 36px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 64px;
    padding-bottom: 96px;
}

.card {
    background-color: #f8f9fa;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.05);
}

.destination-img {
    border-radius: 12px;
    max-width: 300px;
}

.destination-box h4 {
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 2px;
}

.destination-box p {
    font-size: 20px;
    max-width: 300px;
    padding: 0 16px;
}

.destination-details {
    padding: 16px;
}

.destination-details li {
    list-style-type: none;
    font-size: 20px;
    margin: 8px 0 8px 0;
}

.booking-price {
    font-size: 36px;
    padding-bottom: 16px;
}

footer {
    padding: 32px 0;
}

.footer-container {
    margin: 96px 0 48px 0;
    display: flex;
    justify-content:space-evenly;
    align-items: top;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-logo {
    height: 36px;
}

.footer-heading {
    font-size: 24px;
    margin-bottom: 4px;
}

.footer-nav {
    list-style: none;
}

.footer-link:link,
.footer-link:visited {
    text-decoration: none;
    font-size: 16px;
    color: #343a40
}

.footer-link:hover,
.footer-link:active {
    text-decoration: none;
    color: #ced4da;
}

